In [12]:
import pandas as pd
import os

In [2]:
ls

airbnb/                            hotel_location_google.csv
buffer_counting_result/            mathcing_result/
data_merge.ipynb                   school_counting/
emd_counting_result/               행정구역/
hotel_location_final.csv

# 1. buffer counting

In [3]:
cd buffer_counting_result/

/Users/iankim/Library/Mobile Documents/com~apple~CloudDocs/data/airbnb/gis_work/buffer_counting_result

In [13]:
path = "./"
file_list = os.listdir(path)
file_list.sort()

In [34]:
buffer_master = temp[['id_regist']]

In [35]:
buffer_master.head(5)

   id_regist
0      26907
1      27170
2      26889
3      26963
4      27195

In [36]:
for i in range(len(file_list)):
    var_name = 'airbnb' + str(i+1)
    sample = file_list[i]
    temp = pd.read_csv(sample)
    temp1 = temp[['id_regist', 'NUMPOINTS']]
    temp1 = temp1.rename(columns = {'NUMPOINTS':var_name})
    buffer_master = pd.merge(buffer_master, temp1, how = 'left', on = 'id_regist')

In [39]:
buffer_master

,id_regist,airbnb1,airbnb2,airbnb3,airbnb4,airbnb5,airbnb6,airbnb7,airbnb8,airbnb9,...,airbnb51,airbnb52,airbnb53,airbnb54,airbnb55,airbnb56,airbnb57,airbnb58,airbnb59,airbnb60
0,26907,0,0,0,0,0,0,0,0,0,...,71,75,78,81,90,104,130,136,192,236
1,27170,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
2,26889,0,0,0,0,0,0,0,0,0,...,20,22,23,26,36,41,48,56,72,101
3,26963,0,0,0,0,0,0,0,0,0,...,53,53,54,58,63,75,95,99,144,176
4,27195,0,0,0,0,0,0,0,0,0,...,63,64,65,66,72,72,96,99,111,176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,30610,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1358,30709,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1359,30525,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1360,30724,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1361,30706,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [38]:
buffer_master.to_csv("buffer_counting.csv")

# 2. SIG counting

In [74]:
cd ..

/Users/iankim/Library/Mobile Documents/com~apple~CloudDocs/data/airbnb/gis_work

In [76]:
cd sig_counting_result

/Users/iankim/Library/Mobile Documents/com~apple~CloudDocs/data/airbnb/gis_work/sig_counting_result

In [82]:
path = "./"
file_list = os.listdir(path)
file_list.sort()

In [123]:
sample_test = pd.read_csv(file_list[0])
sample_test = sample_test.dropna(axis = 0)

In [124]:
sig_master = sample_test[['A1']]

In [125]:
a=sig_master['A1'].tolist()

In [126]:
b = list(map(int, a))

In [127]:
sig_master['A1'] = b

/var/folders/_m/gh9mkkld0rl0y75bn83mfm980000gn/T/ipykernel_35958/1263388798.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sig_master['A1'] = b

In [128]:
sig_master

        A1
0    43720
1    43730
2    43740
3    43745
4    43750
..     ...
252  42780
253  42790
254  42800
255  42830
256  43130

[256 rows x 1 columns]

In [129]:
for i in range(len(file_list)):
    var_name = 'airbnb' + str(i+1)
    sample = file_list[i]
    temp = pd.read_csv(sample)
    temp = temp.dropna(axis = 0)
    temp1 = temp[['A1', 'NUMPOINTS']]
    a = temp1['A1'].tolist()
    b = list(map(int, a))
    temp1['A1'] = b
    temp1 = temp1.rename(columns = {'NUMPOINTS':var_name})
    sig_master = pd.merge(sig_master, temp1, how = 'left', on = 'A1')

/var/folders/_m/gh9mkkld0rl0y75bn83mfm980000gn/T/ipykernel_35958/2040462636.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp1['A1'] = b

KeyboardInterrupt:

# 3. EMD counting

In [41]:
cd ..

/Users/iankim/Library/Mobile Documents/com~apple~CloudDocs/data/airbnb/gis_work

In [42]:
ls

airbnb/                            hotel_location_google.csv
buffer_counting_result/            mathcing_result/
data_merge.ipynb                   school_counting/
emd_counting_result/               행정구역/
hotel_location_final.csv

In [43]:
cd emd_counting_result/

/Users/iankim/Library/Mobile Documents/com~apple~CloudDocs/data/airbnb/gis_work/emd_counting_result

In [45]:
path = "./"
file_list = os.listdir(path)
file_list.sort()

In [50]:
sample_test = pd.read_csv(file_list[0])
emd_master = sample_test[['EMD_CD']]

In [52]:
for i in range(len(file_list)):
    var_name = 'airbnb' + str(i+1)
    sample = file_list[i]
    temp = pd.read_csv(sample)
    temp1 = temp[['EMD_CD', 'NUMPOINTS']]
    temp1 = temp1.rename(columns = {'NUMPOINTS':var_name})
    emd_master = pd.merge(emd_master, temp1, how = 'left', on = 'EMD_CD')

In [53]:
emd_master

,EMD_CD,airbnb1,airbnb2,airbnb3,airbnb4,airbnb5,airbnb6,airbnb7,airbnb8,airbnb9,...,airbnb51,airbnb52,airbnb53,airbnb54,airbnb55,airbnb56,airbnb57,airbnb58,airbnb59,airbnb60
0,11110101,0,0,0,0,0,0,0,0,1,...,12,12,12,12,13,13,14,14,14,14
1,11110102,0,0,0,0,0,0,0,0,1,...,16,16,16,16,16,16,16,16,16,16
2,11110103,0,0,0,0,0,0,0,1,1,...,3,3,4,4,4,4,4,5,5,5
3,11110104,0,0,0,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,12,12
4,11110105,0,3,4,4,5,5,5,5,5,...,28,28,29,30,30,30,31,32,32,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5041,50130250,1,1,1,1,1,1,1,1,1,...,117,126,137,146,152,164,175,185,203,215
5042,50130253,0,0,0,0,0,0,0,0,0,...,200,207,226,259,289,295,311,312,317,330
5043,50130259,0,0,0,0,0,0,0,0,1,...,418,439,464,486,512,549,571,587,621,672
5044,50130310,0,0,0,0,0,0,0,0,0,...,279,306,322,374,392,398,407,418,433,460
5045,50130320,0,0,0,0,0,0,0,0,0,...,209,229,240,262,282,308,325,335,349,365

In [54]:
emd_master.to_csv("emd_counting.csv")

# 4. School Counting

In [55]:
cd ..

/Users/iankim/Library/Mobile Documents/com~apple~CloudDocs/data/airbnb/gis_work

In [56]:
ls

airbnb/                            hotel_location_google.csv
buffer_counting_result/            mathcing_result/
data_merge.ipynb                   school_counting/
emd_counting_result/               행정구역/
hotel_location_final.csv

In [57]:
cd school_counting/

/Users/iankim/Library/Mobile Documents/com~apple~CloudDocs/data/airbnb/gis_work/school_counting

In [58]:
ls

school_counting_highschool_5181.csv     school_counting_primaryschool_5181.csv
school_counting_middleschool_5181.csv

In [59]:
path = "./"
file_list = os.listdir(path)
file_list.sort()

In [65]:
file_list

['school_counting_highschool_5181.csv',
 'school_counting_middleschool_5181.csv',
 'school_counting_primaryschool_5181.csv']

In [61]:
master = pd.read_csv(file_list[0])

In [66]:
master = master[['id_regist', 'NUMPOINTS']]
master = master.rename(columns = {'NUMPOINTS': 'highschool'})
master

      id_regist  highschool
0         26907           5
1         27170           0
2         26889           3
3         26963           3
4         27195           1
...         ...         ...
1357      30610           0
1358      30709           0
1359      30525           0
1360      30724           0
1361      30706           0

[1362 rows x 2 columns]

In [67]:
temp1 = pd.read_csv(file_list[1])
temp1 = temp1[['id_regist', 'NUMPOINTS']]
temp1 = temp1.rename(columns = {'NUMPOINTS':'middleschool'})

temp2 = pd.read_csv(file_list[2])
temp2 = temp2[['id_regist', 'NUMPOINTS']]
temp2 = temp2.rename(columns = {'NUMPOINTS':'elementaryschool'})

In [70]:
master = pd.merge(master, temp1, how = 'left', on = 'id_regist')
master = pd.merge(master, temp2, how = 'left', on = 'id_regist')

In [72]:
master.to_csv('hotel_school_counting.csv')